/* titillium-web-300 - latin-ext_latin */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
         url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-300.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-regular - latin-ext_latin */
@font-face {
font-family: 'Titillium Web';
font-style: normal;
font-weight: 400;
src: url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
src: local(''),
        url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
        url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-regular.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-italic - latin-ext_latin */
@font-face {
font-family: 'Titillium Web';
font-style: italic;
font-weight: 400;
src: url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-italic.eot'); /* IE9 Compat Modes */
src: local(''),
        url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-italic.woff') format('woff'), /* Modern Browsers */
        url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-italic.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-700 - latin-ext_latin */
@font-face {
font-family: 'Titillium Web';
font-style: normal;
font-weight: 700;
src: url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
src: local(''),
        url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
        url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-700italic - latin-ext_latin */
@font-face {
font-family: 'Titillium Web';
font-style: italic;
font-weight: 700;
src: url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700italic.eot'); /* IE9 Compat Modes */
src: local(''),
        url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700italic.woff') format('woff'), /* Modern Browsers */
        url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
        url('https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/src/fonts/Titillium_Web/titillium-web-v10-latin-ext_latin-700italic.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
html {
    border-top: 8px solid #06c;
}

body, html {
    font-size: 18px;
    line-height: 1.55;
}
body {
    margin: 0;
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif;
    font-weight: 300;
    color: #33485c;
    text-align: left;
    background-color: #fff;
}

body footer nav {
    margin: 0;
    color: white;
}

body footer a.home:link {
    color: white;
}

body footer nav a:link, body footer nav a:visited, body footer ul a:link, body footer ul a:visited {
    color: white;
}

article {
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif !important;
}

header {
    background-color: hsl(210deg, 100%, 45%);
    margin: 0;
}

body#collection header {
    padding: 1rem;
    max-width: none;
    margin: 0;
}

body h1 {
    font-size: 48px;
}

header p.description {
    font-size: 24px;
}

body h1 a, header p.description {
    color: white;
}

body h1 a:hover {
    color: white;
}

body h1 a:before {
    content: "";
    display: inline-block;
    background: url(https://developers.italia.it/assets/icons/logo-it.svg) no-repeat;
    width: 56px;
    height: 35px;
    background-size: contain;
    margin-right: 8px;
}

nav#manage {
    background: white;
    cursor: pointer;
}

@media (max-width: 600px) {
    nav#manage {
        position: inherit!important;
    }
}

body#collection article {
    max-width: none;
    margin-top: 4em;
}

body#collection #wrapper {
    max-width: 70ch;
    margin: 0 auto;
}

body#collection article p {
    line-height: 1.55;
}

body#collection #wrapper h2 {
    font-size: 2.222rem;
}

#official-writing h2, #official-writing h3, #official-writing h4, #wrapper h2, #wrapper h3, #wrapper h4 {
    color: #33485c;
}

body#collection article p:last-child {
    border-top: 1px solid #cfcfcf;
    padding-top: 8px;
    margin-top: 48px;
}

#wrapper a {
    color: #06C!important;
}
</style>
<script>
    document.head.innerHTML += '<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/dist/css/bootstrap-italia.min.css">';
    document.addEventListener("DOMContentLoaded", function(){
        const footerElement = document.getElementsByTagName("footer")[0]
        footerElement.classList.add("bd-footer", "text-muted")
        footerElement.style.cssText += "background-color:#3e5266;text-align: left;"
        footerElement.innerHTML = `
        <div class="container">
            <div class="py-4">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="px-2 py-3">
                            <a href="https://www.agid.gov.it/" target="_blank">
                                <img src="https://italia.github.io/bootstrap-italia/docs/assets/img/icons/logo-agid.svg" alt="Agenzia per l'Italia Digitale" height="36" style="max-width: 100%">
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 d-flex">
                        <div class="px-2 py-2">
                            <a href="https://innovazione.gov.it/" target="_blank">
                                <img src="https://bootstrap-italia-next-development.vercel.app/docs/assets/img/icons/dtd-logo.svg" alt="Team per la Trasformazione Digitale" height="48">
                            </a>
                        </div>
                    </div>
                    <div class="footer-social col-12 col-md-4 text-white text-right pt-2">
                        <span class="d-none d-sm-inline">Seguici su: <br></span>
                        <a class="p-2 text-white" href="https://designers.italia.it/" title="Sito di Designers Italia" target="_blank"><svg class="icon icon-sm icon-light align-top">
                            <use href=``"https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/dist/svg/sprite.svg#it-designers-italia" xlink:href="https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/dist/svg/sprite.svg#it-designers-italia"></use></svg><span class="sr-only">Sito di Designers Italia</span></a>
                        <a class="p-2 text-white" href="https://twitter.com/DesignersITA" title="Designers Italia - Twitter" target="_blank"><svg class="icon icon-sm icon-light align-top">
                            <use href="https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/dist/svg/sprite.svg#it-twitter" xlink:href="https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/dist/svg/sprite.svg#it-twitter"></use></svg><span class="sr-only">Designers Italia - Twitter</span></a>
                        <a class="p-2 text-white" href="https://medium.com/designers-italia" title="Designers Italia - Medium" target="_blank"><svg class="icon icon-sm icon-light align-top">
                            <use href="https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/dist/svg/sprite.svg#it-medium" xlink:href="https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/dist/svg/sprite.svg#it-medium"></use></svg><span class="sr-only">Designers Italia - Medium</span></a>
                        <a class="p-2 text-white" href="https://behance.net/italia" title="Designers Italia - Behance" target="_blank"><svg class="icon icon-sm icon-light align-top">
                            <use href="https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/dist/svg/sprite.svg#it-behance" xlink:href="https://cdn.jsdelivr.net/npm/bootstrap-italia@1.6.2/dist/svg/sprite.svg#it-behance"></use></svg><span class="sr-only">Designers Italia - Behance</span></a>
                    </div>
                </div>
            </div>
            <div class="row py-4 border-white border-top">
                <nav dir="ltr">
                    <a class="home pubd" href="/">noblogo.org</a> · powered by <a style="margin-left:0" href="https://writefreely.org">writefreely</a>
                </nav>
            </div>
        </div>
        `;
    })
</script>
<style type="text/css">
