html {
    border-top: 8px solid #06c;
    font-size: 18px;
    line-height: 1.555;
}
body {
    font-size: 18px;
    line-height: 1.555;
    margin: 0;
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif;
    font-weight: 500;
    color: #33485c!important;
    text-align: left;
    background-color: #fff;
    footer {
        nav {
            margin: 0;
            color: white;
            a {
                &:link {
                    color: white;
                }
                &:visited {
                    color: white;
                }
            }
            a+a {
                margin-left: 0;
            }
        }
        a.home {
            &:link {
                color: white;
            }
        }
        ul {
            a {
                &:link {
                    color: white;
                }
                &:visited {
                    color: white;
                }
            }
        }
    }
    h1 {
        font-size: 48px;
        a {
            text-decoration: none;
            color: white;
            &:hover {
                color: white;
            }
            &:before {
                content: "";
                display: inline-block;
                background: url(https://raw.githubusercontent.com/italia/developers.italia.it/master/assets/icons/logo-it.svg) no-repeat;
                width: 56px;
                height: 35px;
                background-size: contain;
                margin-right: 8px;
            }
        }
    }
    &#collection {
        header {
            padding: 1rem;
            max-width: none;
            margin: 0;
        }
        article {
            max-width: none;
            margin-top: 4em;
            h2 {
                font-size: 2.222rem;
            }
            p {
                font-size: 18px;
                line-height: 1.555;
                font-weight: 500;
                &:last-child {
                    border-top: 1px solid #cfcfcf;
                    padding-top: 8px;
                    margin-top: 48px;
                }
            }
        }
        #wrapper {
            max-width: 80ch;
            margin: 0 auto;
            h2 {
                font-size: 2.222rem;
                a {
                    text-decoration: none;
                }
            }
        }
        footer {
            nav {
                a {
                    color: white;
                }
            }
        }
    }
    &#post {
        article {
            margin-top: 4em;
            max-width: 80ch;
            font-weight: 500;
            font-size: 18px;
            line-height: 1.555;
            h2 {
                &#title {
                    font-size: 2.222rem;
                }
            }
            a {
                font-weight: 600;
            }
        }
        header {
            -webkit-opacity: 1;
            opacity: 1;
        }
        footer {
            nav {
                a {
                    color: white;
                }
            }
        }
    }
    &#subpage {
        footer {
            nav {
                a {
                    color: white;
                }
            }
        }
    }
}
article {
    font-family: "Titillium Web",Geneva,Tahoma,sans-serif !important;
}
header {
    background-color: hsl(210deg, 100%, 45%);
    margin: 0;
    p.description {
        font-size: 24px;
        color: white;
    }
    nav {
        color: white;
        a {
            color: white;
        }
    }
}

nav#manage {
    background: white;
    cursor: pointer;
    @media (max-width: 600px) {
        position: inherit !important;
    }
}
#official-writing {
    h2 {
        color: #33485c;
    }
    h3 {
        color: #33485c;
    }
    h4 {
        color: #33485c;
    }
}
#wrapper {
    h2 {
        color: #33485c;
    }
    h3 {
        color: #33485c;
    }
    h4 {
        color: #33485c;
    }
    a {
        color: #06C !important;
        font-weight: 600 !important;
    }
}
.bd-footer {
    background-color: #3e5266;
    text-align: left;
}
